---
layout: page
title: "Home"
---
{% include JB/setup %}

{% for post in paginator.posts %}
  <div class="page">
    <h2 class="title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="info">
      <span>Posted at {{ post.date | date_to_string }}</span>
    </div>
    {{ post.content }}
    {% for tag in post.tags %}
      <a class="tag" href="/tags.html/#{{ tag }}-ref">{{ tag }}</a>
    {% endfor %}
  </div>
{% endfor %}

<div class="pagination">
  <span class="next">
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}">&larr; Previous</a>
    {% endif %}
  </span>
  <span class="previous">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/">Next &rarr;</a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}">Next &rarr;</a>
      {% endif %}
    {% endif %}
  </span>
</div>




