/* overwrite some bootstrap styles */
::selection {
  background: #317fdf; /* Safari */
  color: #fff;
}
::-moz-selection {
  background: #317fdf; /* Firefox */
  color: #fff;
}

a { 
  text-decoration: none; 
  color: #2365b6;
  transition: color .2s linear; 
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -o-transition: color .2s linear;
}
a:hover{ 
  text-decoration: none; 
  color: #317fdf;
}

body{
  background: #efefef;
  font-family: Arvo, helvetica, arial;;
}

p{
	margin: 12px 0;
  font-size: 14px;
  line-height: 25px;
  color: #454545;
}

h3, h4{
  margin: 1.5em 0 0.5em;
}


/* header */
#head-container{
  height: 90px;
}

#header{
  width: 950px;
  margin: 0 auto;
  padding-top: 10px;
  clear: both;
  overflow: auto;
}

#logo{
  text-align: center;
}

#logo h1{
  margin: 0;
  padding: 0;
  color: #393939;
  font-weight: bold;
  font-family: junctionregularRegular, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, sans-serif;
  line-height: 70px;
  font-size: 40px;
  text-shadow: -1px -1px white, 1px 1px #fff
}

#nav-menu{
  float: right;
  margin: 0 30px 5px 0;
  list-style: none;
  padding-top: 20px;
}

#nav-menu li{
  float: left;
  margin-right: 20px;
}

#nav-menu li a{
  font-family: junctionregularRegular, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, sans-serif;
  font-size: 20px;
  color: #393939;
}

#nav-menu li a:hover{
  color: #317fdf;
}


/* body */
#content{
  padding: 5px 10px;
}

#main{
  width: 950px;
  margin: 0 auto;
}

.page{
  background: #fff;
  margin: 30px auto;
  border: 1px solid #ccc;
  padding: 30px 70px;
  width: 750px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.page h2{
  font-weight: normal;
}

.page ul{
  margin-top: 10px;
}

#disqus_thread{
  margin-top: 70px;
}

/* footer */
#footer{
  height: 300px;
  background: #252525;
  border-top: 1px solid #444;
}

#footer .footer-wrapper{
  width: 890px;
  margin: 30px auto 0;
}

#footer .footer-wrapper .content{
  overflow: auto;
}

#footer div.col{
  float: left;
  margin-right: 40px;
}

#footer h4{
  color: #ddd;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #353535;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#footer ul{
  margin-left: 15px;
}

#footer ul li{
  line-height: 25px;
  font-size: 15px;
  color: #666;
}

#footer ul li a{
  font-size: 15px;
}

#footer p.licence{
  color: #666;
  margin-top: 30px;
}

/* post */
.post .info, .post-index .info{
  margin-bottom: 20px;
}

.post .info span, .post-index .info span{
  color: #999;
}

.post-index{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

/* tags */
a.tag{
  padding: 3px 3px 2px;
  margin-right: 5px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  transition: background .2s linear; 
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
}

a.tag:hover{
  background: #2365b6;
}

.tag_box{
  padding: 10px 0;
  margin: 0 0 20px 0;
}

.tag_box li{
  list-style: none;
  display: inline-block;
  margin: 0 0 20px 0;
}

.tag_box li a{
  background: #2365b6;
  color: #fff;
  padding: 7px 7px 7px 9px;
  margin: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  transition: background .2s linear; 
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -o-transition: background .2s linear;
}

.tag_box li a:hover{
  background: #317fdf;
}

.tag_box li a span{
  padding: 1px 5px;
  background: #fff;
  color: #2365b6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 10px;
}

.pre-next-box{
  margin: 25px 0 0 0!important;
  padding-top: 15px;
  overflow: auto;
  border-top: 1px solid #dedede;
}

.pre-next-box li{
  list-style: none;
}

.pre-next-box li a{
  font-size: 14px;
}

.pre-next-box .previous{
  float: left;
}

.pre-next-box .next{
  float: right;
}

.pagination{
  margin: 30px;
}

.pagination span{
  margin-right: 20px;
}

.pagination span a{
  font-size: 16px;
}


/*archive*/
.archive h2{
  
}

.archive h3{
  background: #e5f0ff;
  padding-left: 25px;
  color: #666;
}

.archive ul{
  list-style: none;
  margin: 0;
}

.archive ul li{
  padding-left: 25px;
  line-height: 35px;
  border-bottom: 1px solid #dedede;
}

.archive ul li span, .archive ul li a{
  font-size: 14px;
}

.archive ul li span{
  color: #555;
}

/*tags*/
.tags h2{
  background: #e5f0ff;
  padding-left: 25px;
  color: #666;
}

.tags ul.tag_list{
  list-style: none;
}

.tags ul.tag_list li{
  line-height: 35px;
}

.tags ul.tag_list li a{
  font-size: 14px;
}




